html,
body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}
.welcome {
	position: absolute;
	display: block;
	width: 400px;
	height: 200px;
	padding: 20px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.title {
	font-size: 100px;
	color: #eeeeee;
}
.description {
	margin-top: 25px;
	font-size: 20px;
}